@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-image: url(./images/pexels-irina-iriser-1090972.jpg);
  background-size: cover;
}
.active {
  background-color: white;
  padding: 4px;
  color: black;
}
.articles {
  background-color: rgb(6, 6, 71);
  overflow-y: hidden;
  overflow-y: scroll;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 430px));
  grid-gap: 2px;
  grid-row-gap: 10px;
  justify-content: space-around;
}
.article {
  border-radius: 20px;
  background-color: white;
}
.article > * {
  word-wrap: break-word;
}
.publish input,
.publish textarea {
  display: block;
  border: 2px black solid;
  padding: 3px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.publish input {
  width: 350px;
}
.publish textarea {
  min-height: 280px;
}
label {
  margin-right: 5px;
}

@media screen and (max-width: 640px) {
  .links {
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    translate: 100%;
    transition: 1s;
  }
  .links a {
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    transition: 0.2s;
  }
  .links a:hover {
    color: red;
  }
  .showlinks {
    translate: 0;
  }
}
